// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #ffc107;
$orange: #E67E22;
$green: #28a745;
$gray: #222;
$light-gray: #F4F4F4;

$brand-color: #ffff00;
$brand-color-2: white;
$brand-color-3: #F2F2F2;
$brand-color-heading: black;
$brand-color-text: #111;
