.event-image {
  background-size: cover;
  background-position: center;
}

.event-image h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;

  @media screen and (min-width: 600px) {
    font-size: 48px;
  }

  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.container {
  max-width: 780px;
}

.edit-event-btn {
  position: absolute;
  top: -56px;
  left: 0px;
}

#event_description {
  height: 12em;
}

.event-image-btn{
  background-color: $white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  margin-left: 0px;
  max-width: 200px;

  &:hover {
      background-color: #eee
  }

  .form-group {
    margin: 0;
  }

  label {
    font-size: 16px;
    color: black;
    cursor: pointer;
    margin: 0;
    padding: 8px;
  }

  input[type="file"] {
    display: none;
  }
}

#qrcode {
  display: none;

  svg {
    background-color: black;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
}
