.event-image {
  background-size: cover;
  background-position: center;
}

.event-image h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-weight: bold;

  @media screen and (min-width: 600px) {
    font-size: 48px;
  }

  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.container {
  max-width: 780px;
}

.edit-event-btn {
  position: absolute;
  top: -56px;
  left: 0px;
}

.place a {
  word-break: break-all;
}

#event_description {
  height: 12em;
}

.event-image-btn {

  input[type="file"] {
    display: none;
  }
}

#qrcode {
  display: none;

  svg {
    background-color: black;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
}
