<div class="logo-banner">
  <div class="background-brand logo text-center pt-3 pb-1">
    <h1><%= link_to "MEETSY", root_path %></h1>
    <p>a temporary private social space</p>
  </div>
</div>

<%= render "events/event_banner" %>
