<div class="container banner-section">
  <div class="row">
    <div class="col px-3 py-5 mx-3 mt-1 event-image shadow-lg rounded pane" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                                                                    url('<%= if @event.image.attached?
                                                                               cl_image_path(@event.image.key)
                                                                             else # show default placeholder-image
                                                                              "https://images.unsplash.com/photo-1557801200-9a8d901ded2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1374&q=80"
                                                                             end %>')">
      <h1 id="event-title" class="d-inline"><%= @event.name %></h1>
      <br>
    </div>
  </div>
</div>
