<%= render 'events/info' %>

<div class="row bg-white  my-5 rounded">
  <div class="col-md-8 py-2">
  </div>

  <div class="col-md-4 py-2">
    <%= render 'responses/form' %>
    <%= render 'responses/list' %>
  </div>
</div>

