<%= render 'events/info' %>

<div class="row align-items-start">
  <div class="col-md-4 m-3">
    <%= render 'responses/form' %>
  </div>
  <div class="col-md-7 p-3 m-3 bg-white rounded shadow pane">

    <h5 class="pane-name">Attendance</h5>
    <%= render 'responses/list' %>
  </div>
</div>

