<%= render 'events/info' %>

<div class="row bg-white py-2 mt-5 rounded">
  <div class="col-md-8">
    <%= render 'responses/form' %>
  </div>

  <div class="col-md-4">
    <%= render 'responses/list' %>
  </div>
</div>

