<%= render 'events/info' %>


<%= render 'responses/form' %>

<div class="row d-flex">
  <div class="col-md-4 p-3 m-3 bg-white rounded shadow pane">

    <h5 class="pane-name">Attendance</h5>
    <%= render 'responses/list' %>
  </div>
</div>

