<%= render 'events/info' %>

<div class="row align-items-start">
  <div class="col-md-4 m-3">
    <%= render 'responses/form' %>
  </div>
  <div class="col-md-7 p-3 m-3 bg-white rounded shadow pane">

    <h5 class="pane-name">Attendance</h5>
    <%= render 'responses/list' %>
  </div>
</div>
<div class="row align-items-start">
  <div class="col-md-7 p-3 m-3 bg-white rounded shadow pane">
    <h5 class="pane-name">Updates</h5>
  </div>
  <div class="col-md-4 m-3 pane text-center">
    <h3 class="pb-3">Snapbox</h3>
    <p>After the event you'll be asked to upload a couple of your best snaps.</p>
  </div>
</div>

