<%= render 'events/info' %>


<%= render 'responses/form' %>

<div class="row d-flex justify-content-end">
  <div class="col-md-4 p-3 m-3 bg-white rounded">
    <%= render 'responses/list' %>
  </div>
</div>

