<div class="container">
  <div class="row">
    <div class="col mb-2">
      <h2>How it works</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>TLDR: Ephimeral social spaces are based around events. Easily invite people you trust with a link. No accounts needed, as everything is based on unguessable UUIDs.
          All (!) data is deleted 15 days after scheduled event date.</p>
    </div>
  </div>
</div>
