<div class="container">
  <div class="row">
    <div class="col">
      <h5>Checkout summary</h5>
      <br>
      <p>Upgrade purchase for <strong><%= @order.event.name %></strong> for €2</strong></p>
      <button id="pay" class="btn btn-primary">Pay</button>
      <%= link_to "back to free event", event_path(@event), class: 'btn btn-secondary' %>
      <br>
      <br>
      <br>
      <p>For the price of a coffee served at your event we can pay for the temporary storage of your images and keep the rest of the site free. Secure payment is provided by Stripe with a variety of payment methods.</p>
      <p>Thank you so much for your support!</p>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>

    </div>
  </div>
</div>
