<div class="photos-container">

  <% if session[:uuid] %>
    <%= simple_form_for [@event, @photo] do |p| %>
      <div class="photo-link">
        <%= p.input :images, as: :file, label: icon('fas', 'photo-video'), input_html: { onchange: 'this.form.submit();', multiple: true }%>
      </div>
    <% end %>
  <% end %>

  <% @photos.each do |photo| %>
    <%= link_to event_photo_path(@event, photo) do %>
      <div class="photo-item" style="background-image: url(<%= cl_image_path(photo.image.key, :width => 400, :height => 400, crop: :limit) %>); background-position:cover;"></div>
    <% end %>
  <% end %>

</div>
<br>
