input[type="radio"] {
  display:none;
}

.radio_buttons {
  display: flex;
  justify-content: center;

  label {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    text-align: center;
    transition: 0.5s ease;
    color: white;
    font-size: 17pt;
    background-color: #ddd;
    line-height: 2em;
    border: 2px solid white;
  }

  label:hover {
    cursor:pointer;
    background-color:#eee;
  }

    label:hover[for=response_attendance_no] {
      background-color: $danger;
    }

    label:hover[for=response_attendance_yes] {
      background-color: $success;
    }

    label:hover[for=response_attendance_maybe] {
      background-color: $warning;
    }

  :checked + {
    label[for=response_attendance_no] {
      background-color: $danger;
      border: 2px solid black;
    }

    label[for=response_attendance_yes] {
      background-color: $success;
      border: 2px solid black;
    }

    label[for=response_attendance_maybe] {
      background-color: $warning;
      border: 2px solid black;
    }
  }
}

.hidden-form {
  max-height: 0px;
  visibility: hidden;
  overflow: hidden;
}

.show-form {
  max-height: 1000px;
  visibility: visible;
  overflow: visible;
  transition: 0.5s;
}

.attendance-row {
  // border-bottom: 1px solid black;
}

.attendance-icon {
  .yes {
    background: $success;
  }
  .maybe {
    background: $warning;
  }
  .no {
    background: $danger;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
