input[type="radio"] {
  display:none;
}

.radio_buttons {
  label {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    transition: 0.5s ease;
    color: white;
    font-size: 16pt;
    background-color: #ddd;
    line-height: 2em;
  }

  label:hover {
    cursor:pointer;
    background-color:#eee;
  }

  input[type="radio"]:checked + {
    label[for=response_attendance_no] {
      background-color: $danger;
    }

    label[for=response_attendance_yes] {
      background-color: $green;
    }

    label[for=response_attendance_maybe] {
      background-color: $warning;
    }
  }
}


