input[type="radio"] {
  display:none;
}

.radio_buttons {
  display: flex;
  justify-content: center;

  label {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    text-align: center;
    transition: 0.5s ease;
    color: var(--brand-color-text);
    font-size: 17pt;
    line-height: 2em;
    border: 2px solid var(--brand-color-primary);
  }

  label:hover {
    cursor:pointer;
    background-color:#eee;
  }

    label:hover[for=response_attendance_no] {
      background-color: $danger;
      border: 2px solid black;
      color: black;
    }

    label:hover[for=response_attendance_yes] {
      background-color: $success;
      border: 2px solid black;
      color: black;
    }

    label:hover[for=response_attendance_maybe] {
      background-color: $warning;
      border: 2px solid black;
      color: black;
    }

  :checked + {
    label[for=response_attendance_no] {
      background-color: $danger;
      border: 2px solid white;
      color: white;
    }

    label[for=response_attendance_yes] {
      background-color: $success;
      border: 2px solid white;
      color: white;
    }

    label[for=response_attendance_maybe] {
      background-color: $warning;
      border: 2px solid white;
      color: white;
    }
  }
}

.hidden-form {
  max-height: 0px;
  visibility: hidden;
  overflow: hidden;
}

.show-form {
  max-height: 1000px;
  visibility: visible;
  overflow: visible;
  transition: 0.5s;
}

.attendance-container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 4fr;
}

.attendance-icon {
  place-self: stretch;
  text-align: center;
  .yes {
    background: $success;
  }
  .maybe {
    background: $warning;
  }
  .no {
    background: $danger;
  }
}
.attendance-message {
  padding-left: 8px;
  text-overflow: clip;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
