.logo-banner {
  h1, h2, h3 {
    font-weight: 700;
    color: black;
    text-shadow: 2px 1px 1px white,
                 3px 2px 1px white,
                 5px 4px 6px rgba(0,0,0,0.2),
  }
}

h1, h2, h3 {
  font-weight: 700;
  color: black;
}

.logo-banner p {
  color: black;
  margin: 0.5em;
}


// .logo-banner {
//   position: fixed;
//   left: 50%;
//   transform: translate(-50%);
//   z-index: -99;
// }
