.logo-banner .logo {
  background-color: $brand-color;
}

h1, h2, h3 {
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 1px #222,
               1px 2px 1px #333,
               2px 3px 1px #333,
               2px 4px 1px #333,
               3px 5px 1px #333,
               4px 8px 6px rgba(16,16,16,0.4),
               4px 9px 10px rgba(16,16,16,0.2),
               6px 11px 35px rgba(16,16,16,0.2),
               6px 13px 60px rgba(16,16,16,0.2);
}

.logo-banner p {
  color: black;
}

.logo-banner svg {
  position: absolute;
  z-index: -1;
}

path {
  fill: $body-bg;
}

.banner-section {
  svg {
    width: 100vw;
    max-height: 50px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    bottom: -1px;
  overflow-x: hidden;
  }
}

// To not display horizontal scrollbar when vertical scroll bar is present. Because of the svg width:100vw;
html {
  overflow-x: hidden;
}
