.pane {
  background-color: var(--brand-color-pane);
  .pane-name {
    color: var(--brand-color-heading-pane);
    position: absolute;
    right: 12px;
    top: -14px;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  }
  p, h1 {
    word-break: break-word;
    overflow-wrap: break-word;
  }
}
