.grow-input {
  flex: 1;
  border-radius: 4px 0px 0px 4px;
}


.update {
  background-color: $brand-color-3;
  border-radius: 4px;
  color: $brand-color-text;
  padding: 8px;
  margin-bottom: 8px;
}



.update-text {
  margin: 0;
}

.comment-text {
  margin: 0;
  margin-left: 8px;
}

.comment {
  border-left: 2px solid gray;
  padding-left: 16px;
}

.update-meta {
  text-align: right;
  // border-bottom: 1px solid gray;
  margin-bottom: 8px;
  color: gray;
}

.comment-meta {
  text-align: right;
  color: gray
}




// FORM INPUTS
.update_text {
  margin: 0;
}

.submit-update {
  border-radius: 0px 4px 4px 0px;
  height:2.5em;
}

.comment_text {
  margin: 0;
  margin-top: 4px;
}

#comment_text {
  padding-left: 24px;
}

.submit-comment {
  margin: 0;
  margin-top: 4px;
  border-radius: 0px 4px 4px 0px;
  height:2.5em;
}
