<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>👋 Hi <%= @response.contact.name %></h1>
    <p>You've joined a temporary private social space on Meetsy.</p>
    <p>To edit your response, just follow this link: <%= link_to "Manage response", manage_response_url(@response) %></p>
    <p>Thanks for trusting us and have a great day!</p>
  </body>
</html>
